html,
body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Roboto";
}

.container {
	max-width: 1110px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background-image: url("./images/header-bg.png");
	height: 100vh;
	background-position: right top;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	background-size: 1024px;
	flex-direction: column;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 12px 0;
}

.navbar .container {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.navbar .navbar-links .link {
	margin-right: 60px;
}

.navbar .navbar-links .link__no-margin {
	margin: 0;
}

.intro {
	max-width: 50%;
}

.intro .intro-title {
	font-size: 50px;
	font-weight: 500;
	color: #091133;
}

.intro .intro-description {
	color: #505f98;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 69px;
}

.intro .button__primary {
	margin-right: 30px;
}

.woman-cellphone {
	padding: 110px 0;
}

.woman-cellphone-content {
	flex: 1;
}

.woman-cellphone-content__right {
	margin-left: 15px;
}

.woman-cellphone-content__left {
	margin-right: 15px;
}

.woman-cellphone .container {
	display: flex;
	align-items: center;
}

.woman-cellphone .woman-cellphone-title {
	font-size: 36px;
	line-height: 48px;
	font-weight: 500;
	color: #091133;
}

.woman-cellphone .woman-cellphone-description {
	font-size: 16px;
	line-height: 26px;
	color: #6f7cb2;
	margin-bottom: 80px;
}

.woman-cellphone-skill {
	margin-right: 30px;
}

.woman-cellphone-skill__no-margin {
	margin: 0;
}

.woman-cellphone-skill .woman-cellphone-skill-title {
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
}

.woman-cellphone-skill .woman-cellphone-skill-description {
	color: #5d6970;
	font-size: 12px;
	line-height: 18px;
}
.price-section {
	background-image: url("/assets/images/Rectangle.png");
	height: 938px;
	background-position: top;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;

	background-size: 100%;
	flex-direction: column;
	padding: 0;
	text-align: center;
}
.price-section .container {
	width: 600px;
}
.price-description .price-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	color: #091133;
	margin-bottom: 0;
}
.price-description .price-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #6f7cb2;
	align-items: center;
	margin-bottom: 35px;
	margin-top: 16px;
}
.price-value {
	margin: 0px;
	padding: 0px;
}
.price-value .value {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
	color: #222f65;

	margin: 0;
}

.price-value .product-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #091133;

	margin-top: 0;
	margin-bottom: 60px;
}

.price-button .button-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #5d6970;
}

.price-button .button__primary {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	height: 32px;
	width: 189px;
	left: 0px;
	top: 0px;
	border-radius: 2px;
}
.footer {
	background-image: url("./images/Rectangle-footer.png");
	height: 216px;
	background-position: bottom;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	background-size: 100%;
	flex-direction: column;
	padding: 0;
}
.footer .bar {
	border: 1px solid #cdd1d4;
}

.footer__over {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding-top: 40px; */
}

.footer .button__primary {
	width: 110px;
	height: 26px;
	border-radius: 2px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

.footer .container .footer__over p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #939ea4;
}

.footer .container .footer__over h2 {
	font-family: Roboto;

	font-style: normal;
	font-weight: 900;
	font-size: 26px;
	line-height: 38px;
	color: #37447e;
}

.footer .footer__under {
	display: flex;

	justify-content: space-between;
	padding-top: 20px;
}

.footer__under .mini__menu a {
	margin-right: 60px;
}

.footer .container a {
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #929ecc;
}

.footer .footer__under .social__media img {
	width: 16px;
	height: 16px;
	margin-left: 30px;
}

/* CSS específicos de elementos */

.button {
	border: none;
	padding: 5px 0;
	min-width: 189px;
	font-size: 16px;
	line-height: 26px;
	border-radius: 2px;
}

.button__primary {
	background-color: #111b47;
	color: white;
}

.button__outline {
	background-color: transparent;
	border: 2px solid #091133;
}

.link {
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	color: #505f98;
}

.logo {
	font-size: 26px;
	font-weight: 900;
	line-height: 38px;
	color: #37447e;
}

.flex {
	display: flex;
}
