html,
body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Roboto";
}

.container {
  max-width: 1110px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-image: url("./images/header-bg.png");
  height: 100vh;
  background-position: right top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-size: 1024px;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px 0;
}

.navbar .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navbar .navbar-links .link {
  margin-right: 60px;
}

.navbar .navbar-links .link__no-margin {
  margin: 0;
}

.intro {
  max-width: 50%;
}

.intro .intro-title {
  font-size: 50px;
  font-weight: 500;
  color: #091133;
}

.intro .intro-description {
  color: #505f98;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 69px;
}

.intro .button__primary {
  margin-right: 30px;
}

.woman-cellphone {
  padding: 110px 0;
}

.woman-cellphone-content {
  flex: 1;
}

.woman-cellphone-content__right {
  margin-left: 15px;
}

.woman-cellphone-content__left {
  margin-right: 15px;
}

.woman-cellphone .container {
  display: flex;
  align-items: center;
}

.woman-cellphone .woman-cellphone-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  color: #091133;
}

.woman-cellphone .woman-cellphone-description {
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
  margin-bottom: 80px;
}

.woman-cellphone-skill {
  margin-right: 30px;
}

.woman-cellphone-skill__no-margin {
  margin: 0;
}

.woman-cellphone-skill .woman-cellphone-skill-title {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.woman-cellphone-skill .woman-cellphone-skill-description {
  color: #5d6970;
  font-size: 12px;
  line-height: 18px;
}

/* CSS específicos de elementos */

.button {
  border: none;
  padding: 5px 0;
  min-width: 189px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 2px;
}

.button__primary {
  background-color: #111b47;
  color: white;
}

.button__outline {
  background-color: transparent;
  border: 2px solid #091133;
}

.link {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #505f98;
}

.logo {
  font-size: 26px;
  font-weight: 900;
  line-height: 38px;
  color: #37447e;
}

.flex {
  display: flex;
}

/* footer */

.footer-background {
  background-image: url("./images/Rectangle.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 1920px;
}

.footer-price {
  justify-content: center;
  height: 78px;
}

.footer-box-center {
  max-width: 600px;
  text-align: center;
}

.text-price-40 {
  font-size: 50px;
  margin: 40px;
  line-height: 0px;
  font-weight: 500;
  color: #222f65;
}

.footer-text-design {
  color: #37447e;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 69px;
}

.footer-text-secondary {
  font-size: 14px;
  line-height: 24px;
  color: #5d6970;
}

.footer-end {
  padding-top: 70px;
  width: auto;
  height: 216px;
  background: #e7ecff;
  margin-top: -200px;
}

.info-footer {
  justify-content: space-between;
}

.button-footer {
  border: none;
  min-width: 109px;
  font-size: 14px;
  border-radius: 2px;
  height: 32px;
  padding: 1px 16px 1px 16px;
}

.copyright {
  font-size: 14px;
  line-height: 24px;
  color: #939ea4;
}

.line {
  display: flex;
  justify-content: center;
  background: #cdd1d4;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.link_footer {
  color: #929ecc;
}

.links_footer {
  margin-left: 60px;
}

.social-networks {
  margin-left: 34px;
}
